@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: "Fira Sans", serif; */



.btn {
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 27px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    background: rgb(0, 106, 80);
    border-radius: 8px;
    border: none;


}

.btn-container {
    border-radius: 8px;
    border: none;



}



.banner-container {
    width: 1536px;

    border-radius: 24px;

    background: rgb(198, 228, 214);

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 95px 190px;
    /* padding: 120px 150px; */
    /* gap: 96px; */



}

.banner {
    max-width: 744px;
    max-height: 390px;
    margin: 0px 76px;
}

.profile-container {
    width: 560px;
    height: 480px;
    margin: 80px 60px 64px;
}

/* .banner .profile-container .banner-profile{
   width: 712px;
   height: 492px;
} */

.banner-container .banner .subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.banner-container .banner .title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 67px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 24px;
    width: 933px;

}



.btn-primary1 {
    padding: 17px 30px 17px 30px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;

    background: rgb(84, 144, 245);
    border: 0px;
    margin: 5px 32px;
}

.btn-primary2 {
    padding: 17px 30px 17px 30px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;

    background: rgb(9, 161, 92);
    margin: 20px 32px;
    border: 0px;
}

.btn-primary3 {
    padding: 17px 30px 17px 30px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;

    background: rgb(255, 194, 57);
    border: 0px;
    margin: 5px 32px;
}

/* .card , .card2 , .card3 {
    width: 492px;
    height: 390px;
} */



.card-section {
    margin: 80px 192px;
    /* width: 1536px; */
}

.card-box {
    width: 1536px;

}

.card-box .section-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-left: 192px; */
}

.card-box .section-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    /* margin-left: 192px; */
}

.card-container .card {
    width: 492px;
    height: 390px;
    /* box-sizing: border-box; */
    border-radius: 24px;

    background: rgba(84, 144, 245, 0.2);
    /* margin: 48px; */
}

.card-container .card1 {
    width: 492px;
    height: 390px;
    /* box-sizing: border-box; */
    border-radius: 24px;

    background: rgb(198, 228, 214);
    /* margin: 48px; */

}

.card-container .card2 {
    width: 492px;
    height: 390px;
    /* box-sizing: border-box; */
    border-radius: 24px;

    background: rgb(247, 235, 207);
    /* margin: 48px; */
}

.card-container .card .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 30px;
}

.card-container .card1 .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 30px;
}

.card-container .card2 .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 30px;
}

.card-container .card .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 30px;
}

.card-container .card1 .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 30px;
}

.card-container .card2 .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 30px;
}

.card-container {
    display: flex;
    gap: 36px;
    margin-top: 32px;

}

.icon-container .icon {
    margin: 28px 30px;
}

.news .news-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
}

.news .news-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 24px;
    /* margin-bottom: 48px; */
}

.news {
    margin: auto 192px;
}

.sat-section {
    width: 1536px;
    padding: 30px;

    /* margin: 32px 240px; */
    /* border-radius: 24px;
    
    /* box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 24px; */
    /* box-sizing: border-box;
     border: 1px solid rgba(14, 14, 14, 0.15); */
    box-shadow: 4px 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    /* background: rgb(255, 255, 255); */


    display: flex;
    gap: 48px;
    margin: 36px 10px;
    
}

/* .sat-info{
    display: flex;
    gap:48px ;
} */

.sat-section .sat-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: left;
    /* margin-top: 48px; */
}

.sat-section .sat-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 14px;
    margin-bottom: 38px;
}

/* .sat-icon-container .sat-icon {
    background: url(8f195aac6f4a2c38bbf72c1fbeddbf9b);
} */

.date {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    gap: 18px;
    margin-top: 18px;
}

.time {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    gap: 18px;
    margin-top: 18px;
}

.date-time-container {
    display: flex;
    gap: 18px;
}

.sat-pic-container .sat-pic {
    border-radius: 24px;
    width: 612px;
    height: 459px;
}

.rm-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 12px;

    background: rgb(0, 106, 80);
    padding: 20px 39px 20px 39px;

    border: none;
}

.rm-btn-container {
    padding: 72px;
    margin: 48px;

}

.box-section {
    margin: 96px 192px;
    /* padding: 0px 156px; */
    width: 1536px;
    height: 556px;
}

.box-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: center;
}

.box-description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    margin: 36px 240px;
}


.box-container {
    display: flex;
    gap: 36px;
    /* margin: 0px 100px; */
    margin: 38px 124px;
}

.box {
    
    /* border: 1px solid rgba(14, 14, 14, 0.15); */
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: center;
    width: 288px;
    height: 153px;
    /* padding: 50px; */
}

.box2 {

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

   
    /* border: 1px solid rgba(14, 14, 14, 0.15); */
    border-radius: 16px;

    background: rgb(198, 228, 214);
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: center;
    width: 288px;
    height: 153px;
    /* padding: 50px; */

}

input[type="text"] {
    /* width: 1238px; */
    width: 80%;
    height: 76px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);


    /* padding: 30px 60px 30px 60px; */
    margin: 38px 140px;
    /* box-sizing: border-box; */
    /* border: 1px solid rgba(14, 14, 14, 0.15); */
    /* background: rgb(255, 255, 255); */
    border: 0px;
}

input[placeholder] {
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

}

.done-btn {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
    box-sizing: border-box;
    /* border: 1px solid rgba(14, 14, 14, 0.1); */
    border-radius: 8px;

    background: rgb(0, 106, 80);
    /* padding: 25px 34px 25px 34px; */
    margin: 32px 676px 0px;
    height: 67px;
    width: 181px;
    border: 0px;
}

.newsletter-section .newsletter-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    text-align: center;
  padding-top: 80px;
}

.newsletter-section .newsletter-desc {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    width: 746px;
    margin:  0px 400px;
}

.newsletter-section {
    /* padding: 120px 150px 120px 150px; */
    width: 1536px;
    height: 474px;
    border-radius: 24px;

    background: rgb(198, 228, 214);
    margin: 96px 192px;
   
}

.subs-btn {
    width: 225px;
    height: 84px;
    border-radius: 0px 8px 8px 0px;

    background: rgb(0, 106, 80);
    padding: 25px 51px;
    align-items: center;
    border: none;
}

.email-btn {
    display: flex;
    flex-direction: row;
    gap: 0px;
    margin: 36px 630px;
    justify-content: center;

}

input[type="email"] {
    width: 720px;
    height: 66px;
    /* margin-left: 500px; */
    margin: 28px 0px 20px 318px;
    border: 0px;

}

input[type="button"] {
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 21px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 0px 8px 8px 0px;

    background: rgb(0, 106, 80);
    width: 180px;
    height: 67px;
    border: none;
    margin-right: 100px;

}

.promise-para {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    /* margin-top: 36px; */
}

.footer-title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
    margin: 60px 800px 38px;
}

/* .icon-container{
    display: flex;
    gap: 36px;
    margin: 207px 1108px;
} */
/* footer{
    margin: 75px 240px;
} */
.footer-icon-container {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin: 20px 0px;
    /* margin: 96px 1200px; */


}

.foot-icon {
    width: 28px;
    height: 28px;

}
hr{
    width: 75%;
    text-align: center;
}

footer {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.35);
    /* border-radius: 16px; */
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
   

    background: rgb(255, 255, 255);
}